<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: green;color: white;">
        <h1>USER OK LOGIN!</h1>
        <h2><i>Bienvenido {{datos.nombre}}</i></h2>
        <br>
        <h3>dirección: {{datos.direccion}}</h3>
        <h4>visitas: {{contador}}</h4>
        <button class="btn btn-danger my-5" onclick="location.href='/logout'">LOGOUT</button>
    </div>
</div>

<body>
    <main class='container'>
        <h1>Desafío Clase 25</h1>
        <h2 class='mt-4'>Centro de Mensajes</h2>
        <form class="form" action="/index" method="post" role="form" autocomplete="off">
            <div class='form-group'>
                <label for='email'>Email</label>
                <input class='form-control' type='email' name='email' id='email' required>
            </div>
            <div class='form-group'>
                <label for='nombre'>Nombre</label>
                <input class='form-control' type='text' name='nombre' id='nombre' required>
            </div>
            <div class='form-group'>
                <label for='apellido'>Apellido</label>
                <input class='form-control' type='text' name='apellido' id='apellido' required>
            </div>
            <div class='form-group'>
                <label for='alias'>Alias</label>
                <input class='form-control' type='text' name='alias' id='alias' required>
            </div>
            <div class='form-group'>
                <label for='edad'>Edad</label>
                <input class='form-control' type='number' name='edad' id='edad' required>
            </div>
            <div class='form-group'>
                <label for='url'>URL</label>
                <input class='form-control' type='text' name='avatar' id='avatar' required>
            </div>
            <div class='form-group'>
                <label for='mensaje'>Mensaje</label>
                <input class='form-control' type='mensaje' name='mensaje' id='mensaje' required>
            </div>
            <div class='mt-2'>
                <input type='submit' class='btn btn-warning'> 
            </div>
        </form>
        
        <div class="text-left">
            <button class="btn btn-success my-3" onclick="location.href = '/login'">Ir a Login</button>
        </div>
        
    </main>
</body>